/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [RecipeApp]    Script Date: 4/30/2021 6:26:57 PM ******/
CREATE DATABASE [RecipeApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecipeApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RecipeApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecipeApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\RecipeApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecipeApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecipeApp]
GO
USE [RecipeApp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/30/2021 6:26:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/30/2021 6:26:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
	[CreatedUserId] [int] NOT NULL,
	[ModifiedUserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingridients]    Script Date: 4/30/2021 6:26:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingridients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecipeId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Quantity] [nvarchar](max) NULL,
	[CreatedUserId] [int] NOT NULL,
	[ModifiedUserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Ingridients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 4/30/2021 6:26:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Status] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedUserId] [int] NOT NULL,
	[ModifiedUserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Duration] [nvarchar](max) NOT NULL,
	[EditedId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/30/2021 6:26:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedUserId] [int] NOT NULL,
	[ModifiedUserId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [UserId], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate], [Photo]) VALUES (13, N'Burger', 4, 4, 4, CAST(N'2021-04-30T17:52:43.913' AS DateTime), CAST(N'2021-04-30T17:52:43.913' AS DateTime), N'3.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [UserId], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate], [Photo]) VALUES (14, N'Salad', 4, 4, 4, CAST(N'2021-04-30T17:53:53.950' AS DateTime), CAST(N'2021-04-30T17:53:53.950' AS DateTime), N'9.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [UserId], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate], [Photo]) VALUES (15, N'Pizza', 4, 4, 4, CAST(N'2021-04-30T17:54:22.480' AS DateTime), CAST(N'2021-04-30T17:54:22.480' AS DateTime), N'1.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Ingridients] ON 

INSERT [dbo].[Ingridients] ([Id], [RecipeId], [Name], [Quantity], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate]) VALUES (49, 27, N'egg', N'1 large', 4, 4, CAST(N'2021-04-30T17:57:39.997' AS DateTime), CAST(N'2021-04-30T17:57:40.207' AS DateTime))
INSERT [dbo].[Ingridients] ([Id], [RecipeId], [Name], [Quantity], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate]) VALUES (50, 28, N'egg', N'1 large', 3, 3, CAST(N'2021-04-30T18:22:03.853' AS DateTime), CAST(N'2021-04-30T18:22:03.853' AS DateTime))
INSERT [dbo].[Ingridients] ([Id], [RecipeId], [Name], [Quantity], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate]) VALUES (51, 28, N'flour', N'500 qram', 3, 3, CAST(N'2021-04-30T18:22:04.317' AS DateTime), CAST(N'2021-04-30T18:22:04.317' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ingridients] OFF
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([Id], [Description], [Status], [CategoryId], [UserId], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate], [Name], [Photo], [Duration], [EditedId]) VALUES (26, N'Sink your teeth into a delicious restaurant-style, hamburger recipe made from lean beef. Skip the prepackaged patties and take the extra time to craft up your own, and that little extra effort will be worth it. To make cheeseburgers', 0, 13, 4, 4, 4, CAST(N'2021-04-30T17:56:32.753' AS DateTime), CAST(N'2021-04-30T17:56:32.753' AS DateTime), N'The Classic burger', N'3.jpg', N'30 deq', 0)
INSERT [dbo].[Recipes] ([Id], [Description], [Status], [CategoryId], [UserId], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate], [Name], [Photo], [Duration], [EditedId]) VALUES (27, N'Sink your teeth into a delicious restaurant-style, hamburger recipe made from lean beef. Skip the prepackaged patties and take the extra time to craft up your own', 3, 13, 4, 4, 4, CAST(N'2021-04-30T17:57:26.177' AS DateTime), CAST(N'2021-04-30T17:57:26.437' AS DateTime), N'The Classic burger', N'3.jpg', N'30 deq', 0)
INSERT [dbo].[Recipes] ([Id], [Description], [Status], [CategoryId], [UserId], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate], [Name], [Photo], [Duration], [EditedId]) VALUES (28, N'Pizza parlors make it look easy to shape dough into rounds, but it can take some practice in your kitchen to get it right at home. Try these tips.', 3, 15, 3, 3, 3, CAST(N'2021-04-30T18:22:03.657' AS DateTime), CAST(N'2021-04-30T18:22:03.657' AS DateTime), N'Pizza', N'1.jpg', N'1 hours', 0)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Password], [Status], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate]) VALUES (2, N'nigar', N'mammdova', N'nigar@gmail.com', N'nigar@gmail.com', 1, 1, 1, CAST(N'2020-12-12T00:00:00.000' AS DateTime), CAST(N'2020-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Password], [Status], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate]) VALUES (3, N'xxxxxx', N'xxxxxxxxx', N'nigar@gmail.comm', N'AE47LdGdWtAgps0IUrpyHbpP6Kz8Hx+D97Ew2lHF6NdYEz82SMoSPoaRxHk9qmrtyg==', 0, 0, 0, CAST(N'2021-04-30T12:22:59.187' AS DateTime), CAST(N'2021-04-30T12:22:59.187' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Password], [Status], [CreatedUserId], [ModifiedUserId], [CreatedDate], [ModifiedDate]) VALUES (4, N'admin', N'admin@gmail.com', N'admin@gmail.com', N'AIWlK47khfoC9Z4NOCAZ0AFEs+c4jWNJJy4hmKSC0EA9dC8mG0pJ5kRc1OOSkGThsA==', 0, 0, 0, CAST(N'2021-04-30T14:28:25.573' AS DateTime), CAST(N'2021-04-30T14:28:25.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_UserId]    Script Date: 4/30/2021 6:26:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Categories]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RecipeId]    Script Date: 4/30/2021 6:26:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RecipeId] ON [dbo].[Ingridients]
(
	[RecipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 4/30/2021 6:26:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Recipes]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 4/30/2021 6:26:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Recipes]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ('') FOR [Duration]
GO
ALTER TABLE [dbo].[Recipes] ADD  DEFAULT ((0)) FOR [EditedId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Ingridients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingridients_dbo.Recipes_RecipeId] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
GO
ALTER TABLE [dbo].[Ingridients] CHECK CONSTRAINT [FK_dbo.Ingridients_dbo.Recipes_RecipeId]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Recipes_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_dbo.Recipes_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Recipes_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_dbo.Recipes_dbo.Users_UserId]
GO
USE [master]
GO
